// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 70em;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  position: relative;
}


.new_post {
  /* float:right; margin-right: 2em; padding: 2em; border: 1px solid; margin: 2em; */
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em;
}

#facets {
  float: right;
  padding: 0;
  width: 14em;
  margin-top: 4em;
  margin-right: 1em;
  border: 1px solid #c0c0c0;
  
  h3 {
    margin: 0;
    color: #fff;
    padding: .5em .5em .25em;
    font-weight: 400;
    background: #333;
    border-bottom: 1px solid black;
  }

  ul {
    margin: .5em .5em .5em 1.5em;
    padding: 1em;
  }
}

#posts {
  width: 75%;
}

.post {

  .title {
    margin-top: 2em;
  }

  .content {
    text-align: justify;
  }
}

#side {
  top: 7em;
  right: 0;
  /* bottom: 0; */
  width: 20%;
  margin: 0 2%;
  position: absolute;
}
